/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Swagger UI Dark Mode */
[data-theme='dark'] .swagger-ui {
  filter: invert(88%) hue-rotate(180deg);
}

[data-theme='dark'] .swagger-ui .opblock-tag {
  border-bottom-color: #444;
}

[data-theme='dark'] .swagger-ui .opblock {
  border-color: #444;
}

[data-theme='dark'] .swagger-ui .opblock .opblock-summary {
  border-bottom-color: #444;
}

[data-theme='dark'] .swagger-ui svg {
  filter: invert(100%) hue-rotate(180deg);
}

/* Swagger UI general styling */
.swagger-ui .topbar {
  display: none;
}

.swagger-ui .info {
  margin: 20px 0;
}

.swagger-ui .scheme-container {
  background: transparent;
  box-shadow: none;
  padding: 15px 0;
}
